@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');
@import "@/assets/styles/utility/fonts";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #E5E5E5;
}

.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.main{
  &__container{
    display: flex;
  }
}


@import "@/assets/styles/blanks/Logo";
@import "@/assets/styles/blanks/Login";
@import "@/assets/styles/sections/Header";
@import "@/assets/styles/sections/Section-products";
@import "@/assets/styles/sections/Overlay";
@import "@/assets/styles/sections/Basket";
@import "@/assets/styles/sections/Menu";
@import "@/assets/styles/UI/Button";
@import "@/assets/styles/blanks/Card-product";
